<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>

<meta name=author content="https://github.com/ErikDubbelboer/">

<meta name=robots content="noindex,nofollow,noarchive">

<title>PyRedisAdmin</title>

<link rel=stylesheet href="/media/css/common.css?v1" media=all>
<link rel=stylesheet href="/media/css/frame.css?v1" media=all>

<link rel="shortcut icon" href="/media/images/favicon.png">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>

<script src="/media/js/frame.js?v1"></script>
</head>
<body>
{{! redis_info }}
<p class="clear">
</p>
</body>
</html>