<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9,IE=10" />
<script src="/{{media_prefix}}/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<link href="/{{media_prefix}}/bootstrap/2.3.1/css_default/bootstrap.min.css" type="text/css" rel="stylesheet" />
<script src="/{{media_prefix}}/bootstrap/2.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lte IE 6]><link href="/{{media_prefix}}/bootstrap/bsie/css/bootstrap-ie6.min.css" type="text/css" rel="stylesheet" />
<script src="/{{media_prefix}}/bootstrap/bsie/js/bootstrap-ie.min.js" type="text/javascript"></script><![endif]-->

<link href="/{{media_prefix}}/common/jeesite.min.css" type="text/css" rel="stylesheet" />
